<p>page-list-orders works!</p>


<div>>Liste des orders</div>
@for (order of orders; track order.id) {
  <div>{{ order.id }} - {{order .tjmHT }} </div>
} @empty {
  <p>Aucun Order dispo !</p>
}


<div>>Liste des orders (TJ > 1000)</div>
@for (order of orders; track order.id) {
  @if(order.tjmHT > 1000) {
    <div>{{ order.id }} - {{order .tjmHT }} </div>
  } 
}



<div>>Liste des orders</div>
  <div *ngFor="let order of orders">{{ order.id }} - {{order .tjmHT }} </div>


<div>>Liste des orders (TJ > 1000)</div>
@for (order of orders; track order.id) {
  @if(order.tjmHT > 1000) {
    <div>{{ order.id }} - {{order .tjmHT }} </div>
  } 
}