.state-OPTION {
  color: blue;
}

.state-CANCEL {
  color: red;
}

.state-CONFIRMED {
  color: green;
}

// .day {
//   color: red;
// }

// .days {
//   color: green;
// }

.days {
  font-weight: bold;
}